.recruiter-section {
  padding: 0 6%;
  text-align: center;
  background: #f9fafb;
  padding-top: 9rem;
  padding-bottom: 3rem;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  margin-bottom: 50px;
}

.sub-title {
  font-size: 1.3rem;
  color: #0c9cfb;
  margin-bottom: 35px;
}

.card-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 24px;
}

.feature-card {
  background: #fff;
  border: 1px solid #6cbcdb26;
  border-radius: 16px;
  padding: 30px 20px;
  transition: box-shadow 0.3s ease;
}

@media (hover: hover) {
  .feature-card:hover {
    box-shadow: 0 10px 30px #85e5ea;
    transform: scale(1.02);
  }
}
@media (hover: none) {
  .feature-card:active {
    box-shadow: 0 10px 30px #85e5ea;
    transform: scale(1.02);
  }
}

.icon {
  font-size: 36px;
  margin-bottom: 16px;
}

.feature-card h3 {
  font-size: 1.15rem;
  color: #0c9cfb;
  margin-bottom: 10px;
  font-weight: 400;
}

.feature-card p {
  font-size: 0.95rem;
  color: #777;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1.25rem;
  }

  .card-grid {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}

.pipeline-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #0c9cfb;
  text-align: center;
  margin: 5rem 0 4rem;
}

.pipeline {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  padding-left: 2px;
  text-align: left;
}

.pipeline::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #d6ecfb;
}

.pipeline-step {
  display: flex;
  gap: 2rem;
  margin-bottom: 3.2rem;
  position: relative;
}

.step-circle {
  width: 44px;
  height: 44px;
  background: #0c9cfb;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}

.step-content h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #0c9cfb;
  font-weight: 500;
}

.step-content p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #777;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .pipeline {
    padding-left: 2px;
  }

  .pipeline::before {
    left: 17px;
  }

  .step-circle {
    width: 36px;
    height: 36px;
    font-size: 0.9rem;
  }

  .pipeline-step {
    gap: 1.5rem;
  }

  .pipeline-title {
    font-size: 1.7rem;
  }
}

.auto-scroll-section {
  background: #fdecec;
  padding: 100px 0;
  overflow: hidden;
  text-align: center;
}

.auto-title {
  font-size: 2.5rem;
  color: #e6396b;
  margin-bottom: 60px;
}

.auto-title em {
  font-style: italic;
}

.company-oval {
  width: 360px;
  height: 200px;
  border: 2px solid #e6396b;
  border-radius: 50%;
  padding: 30px;
  color: #e6396b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  background: white;
}

.company-oval img {
  height: 55px;
  margin-bottom: 12px;
  object-fit: contain;
}

.company-oval h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.company-oval p {
  font-size: 0.9rem;
  opacity: 0.75;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .company-oval {
    width: 300px;
    height: 140px;
  }
  .auto-title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .company-oval {
    width: 230px;
    height: 120px;
  }
  .auto-title {
    font-size: 1.7rem;
  }
}

@media (max-width: 284px) {
  .auto-title {
    font-size: 1.5rem;
  }
}

.hire-below {
  max-width: 900px;
  margin: 56px auto 0;
  padding: 0 16px;
  text-align: center;
}

.hire-below h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #e6396b;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.hire-below p {
  font-size: 1rem;
  color: #4a4a4a;
  line-height: 1.8;
  max-width: 760px;
  margin: 0 auto;
}

.hire-below span,
.hire-below strong {
  color: #e6396b;
  font-weight: 600;
}

@media (min-width: 768px) {
  .hire-below {
    margin-top: 64px;
  }
}

.hire-btn {
  margin-top: 28px;
  padding: 14px 36px;
  border-radius: 999px;
  border: none;
  background-color: white;
  color: #e6396b;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.hire-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px #fbabc2;
}

@media (max-width: 768px) {
  .hire-below p {
    font-size: 0.9rem;
    max-width: 750px;
  }
}

@media (max-width: 480px) {
  .hire-below p {
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  .hire-below p {
    font-size: 1.1rem;
  }
}
