.our-program {
  padding: 60px 0px;
  text-align: center;
  background: #f9fafb;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.program-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 19px;
  color: #222;
}

.program-description {
  font-size: 18px;
  color: #555;
  max-width: 820px;
  margin: 0 auto 50px auto;
  line-height: 1.7;
}

.prepare-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #0c9cfb;
}

.prepare-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: clamp(16px, 4vw, 32px);
}

.prepare-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Text */
.prepare-card p {
  font-size: 16px;
  font-weight: 600;
  color: #0c9cfb;
  max-width: 180px;
}

.meethi img {
  width: 70px;
}

@media (max-width: 1024px) {
  .prepare-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .program-title {
    font-size: 32px;
  }

  .prepare-title {
    font-size: 26px;
  }
  .prepare-card {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .program-title {
    font-size: 28px;
  }

  .program-description {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .prepare-title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .our-program {
    padding-top: 7.5rem;
  }
  .prepare-grid {
    grid-template-columns: 1fr;
  }

  .program-title {
    font-size: 2rem;
  }

  .prepare-title {
    font-size: 22px;
  }

  .program-description {
    font-size: 15px;
  }

  .prepare-card p {
    font-size: 15px;
  }
}

@media (max-width: 830px) {
  .program-description {
    margin-left: 10px;
    margin-right: 10px;
  }
  .prepare-title {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.project-title {
  font-size: clamp(1.5rem, 2.7vw, 1.75rem);
  font-weight: 600;
  color: #0c9cfb;
  margin-top: 50px;
  margin-bottom: 25px;
}

.projects-card p {
  font-size: 14px;
  margin-top: 4px;
}

.projects-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* CARD */
.projects-card {
  background: #fff;
  border: 1px solid #6cbcdb26;
  border-radius: 16px;
  padding: 30px 20px;
  transition: box-shadow 0.3s ease;
}

@media (hover: hover) {
  .projects-card:hover {
    box-shadow: 0 10px 30px #85e5ea;
    transform: scale(1.02);
  }
}
@media (hover: none) {
  .projects-card:active {
    box-shadow: 0 10px 30px #85e5ea;
    transform: scale(1.02);
  }
}

@media (max-width: 1250px) {
  .projects-grid {
    max-width: 900px;
  }
}

@media (max-width: 915px) {
  .projects-grid {
    max-width: 300px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 330px) {
  .projects-grid {
    max-width: 250px;
    grid-template-columns: 1fr;
  }
}
