.loader-wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: #ffffff;
  z-index: 9999;
}

/* YOUR loader (unchanged) */
.loader {
   height: clamp(48px, 10vw, 100px);
  aspect-ratio: 2;
  border-bottom: 3px solid #524656;
  position: relative;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #CF4647;
  animation: 
    l1-0 .3s cubic-bezier(0,900,1,900) infinite,
    l1-1 1s linear infinite;
}

@keyframes l1-0 {
  0%,2% { bottom: 0% }
  98%,to { bottom: .1% }
}

@keyframes l1-1 {
  0% { translate: -500% }
  to { translate: 500% }
}
